.skills {
  display: flex;
  flex-direction: column;
  margin-left: 2em;
  margin-top: 3.5em;
  .resumeLbl {
    font-size: x-large;
  }
  .eduLbl {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 6.2em;
    margin-top: 2em;
    font-size: large;
  }
  .education {
    margin-top: .5em;
    margin-left: 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50em;
    .institute {
      font-size: 20px;
    }
    .course {
      font-size: 11px;
    }
    div {
      height: 2em;
      width: 20em;
      padding: 10px 25px;
     
    }
  }
  .skillLbl {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 4em;
    margin-top: 2em;
    font-size: large;
  }
  .skillFooter {
    font-size: 18px;
    color: black;
  }
}
