.rightBody {
  width: 60em;
  background-image: linear-gradient(
    180deg,
    #004d40,
    rgba(10, 37, 19, 0.842),
    rgba(1, 8, 22, 0.849)
  );
  font-family: 'Roboto', sans-serif;

  height: 35em;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  .content {
    margin: 2em;
    .intro {
      .about {
        font-size: x-large;
      }
      .desc {
        font-size: 21px;
      }
    }
    .query {
      margin-top: 2em;
      p {
        font-size: 21px;
      }
    }
    .midDesc {
      padding-top: 1em;
      display: flex;
      justify-content: space-evenly;
      img {
        width: 45px;
        height: 45px;
        padding-right: 0.8em;
        margin-top: 5px;
      }
      div {
        display: flex;
        justify-content: flex-start;
        padding-left: 0.5em;
        padding-right: 0.5em;

        width: 25em;
        border-radius: 15px;

        p {
          margin-top: 5px;
        }
      }
    }
    .bottomDesc {
      padding-top: 1em;
      display: flex;
      justify-content: space-evenly;
      img {
        width: 45px;
        height: 45px;
        padding-right: 0.8em;
        margin-top: 5px;
      }
      div {
        display: flex;
        justify-content: flex-start;
        padding-left: 0.5em;
        padding-right: 0.5em;
        width: 25em;
        border-radius: 15px;
        p {
          margin-top: 5px;
        }
      }
    }
  }
}
