.rightBody{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40em;
    background-image: linear-gradient(180deg, snow, rgb(184, 184, 174));

    height: 35em;
    border-radius: 15px;
    // border: 2px solid #10130c;
}